<%- include(`${partials}/header`, { hideNavbar: true, title: 'Login' }) -%>

<div class="has-text-centered">
  <h1 class="title is-2">
    štemplaj<span class="has-text-grey-lighter">.</span>se
  </h1>
  <h2 class="subtitle has-text-grey">Naglas je na e.</h2>
</div>

<form
  method="POST"
  action="/login/password"
  class="is-flex is-justify-content-center is-align-items-center mt-5"
>
  <div class="login-card">
    <%- include(`${partials}/messages`); -%>

    <div class="card">
      <div class="card-content">
        <div class="content">
          <div class="field">
            <label class="label">E-mail naslov</label>
            <div class="control">
              <input
                class="input"
                type="text"
                name="username"
                placeholder="polda@stemplaj.se"
                required
                autofocus
              />
            </div>
          </div>

          <div class="field">
            <label class="label">Geslo</label>
            <div class="control">
              <input
                class="input"
                type="password"
                placeholder="hunter2"
                required
                name="password"
              />
            </div>
          </div>

          <div class="field has-text-right mt-5">
            <div class="control">
              <button class="button is-primary">Prijavi se</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>

<%- include(`${partials}/footer`); -%>
