<nav class="navbar is-warning" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <div class="navbar-item">
        <h1 class="has-text-weight-bold">Štemplaj se</h1>
      </div>
      <a
        role="button"
        class="navbar-burger"
        aria-label="menu"
        aria-expanded="false"
        data-target="navbarBasicExample"
      >
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <% navigationLinks.forEach(link => { %>
          <% if (link.dropdown) { %>
            <div class="navbar-item has-dropdown is-hoverable">
              <%- include('navbar_link', { link, dropdown: true }) %>
              <div class="navbar-dropdown">
                <% link.dropdown.forEach(dropdownLink => { %>
                  <%- include('navbar_link', { link: dropdownLink, dropdown: false }) %>
                <% }) %>
              </div>
            </div>
          <% } else { %>
            <%- include('navbar_link', { link, dropdown: false }) %>
          <% } %>
        <% }) %>
      </div>

      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a href="/logout" class="button is-light"> Log out </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
